<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/styles.css">
<title>Login</title>
</head>
<body>
	<div class="login-wrapper">
		<div class="login-container">
			<h1 class="login-header">Amour</h1>
			<h2 class="login-header2">Login</h2>
			<form action="/processLogin" method="post">
				<div class="center-box">
					<label for="Email">Email</label> <br> <input type="text"
						id="email" value="example@gmail.com">
				</div>
				<br>
				<div class="center-box">
					<label for="Password" id="password">Password</label> <br> <input
						type="password" id="password"><br>
				</div>
				<a href="/" class="login-forgotpass" style="text-decoration: none;">Forgot
					Password?</a>
				<div class="center-box">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
		<img src="/images/Login.png" class="side-image">
		<p class="image-text">
			WANT RECIPE?<br> HUNGRY FOR RECIPE?<br> SAVE RECIPE HERE
			NOW FAST!
		</p>
	</div>
</body>
</html>